.btnBird{
    -fx-background-color: transparent;
    -fx-border: solid solid solid solid;
    -fx-border-color: green;
    -fx-border-width: 2;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-size: 2em;
}